<!DOCTYPE html>
<html>
<head>
  <title>DEPARTMENTS</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #a687fc;
    }
    
    h1 {
      text-align: center;
      color: #ffffff;
    }
    
    .club {
      margin-bottom: 20px;
      border: 2px solid #ccc;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
    }
    
    .club h2 {
      margin-top: 0;
      color: #555;
    }
    
    .club p {
      margin-bottom: 10px;
      color: #777;
    }

    .club img {
      margin-left: 20px;
      max-width: 100px;
    }
  </style>
</head>
<body>
  <h1>DEPARTMENTS
  </h1>
  
  <div class="club">
    <h2>FIRST YEAR ENGINEERING</h2>
    <p>First year is the landmark in the life of engineers. In First Year Engineering, students get acquainted with wide range of subjects and get hands on experience on various practical aspects. This helps the student to gain confidence and makes them ready for the task ahead. First year engineering will help the students in inculcating fundamentals and to develop their logical and analytical skills, which will help them to prosper in the successive years and further in their careers.
Department deals with various science subjects viz., Engineering Mathematics-I, II and III, Engineering Physics, Engineering Chemistry, and various basic engineering subjects viz., Engineering Mechanics, Systems in Mechanical Engineering, Basic Electrical Engineering, Basic Electronics Engineering, Engineering Graphics, Environmental studies, Project Based learning, and Programming & Problem solving.</p>
    <p>Name:E. M. Reddy
      Email ID-emreddy@pict.edu
    </p>
    <img src="fe.jpg" alt="FIRST YEAR ENGINEERING">
  </div>

  <div class="club">
    <h2>INFORMATION TECHNOLOGY</h2>
    <p>The department of Information Technology is well known for academic excellence, research culture delivered through it’s undergraduate and postgraduate programs. The Bachelor of Engineering (B.E.) Programme in Information Technology started in the academic year 2001-2002 with an intake capacity of 60 and currently running with intake capacity of 180 students . The Master of Engineering (M.E.) programme started in academic year 2011-2012 with an intake capacity of 18 students.
Department of Information Technology is recognized for imparting core knowledge, advanced technological trends and ethics for better employability. The Department offers best infrastructure and computing facilities to stakeholders.</p>
    <p>Name:Dr. Archana Santosh Ghotkar
        Email-ID:aaghotkar@pict.edu
    </p>
    <img src="it.jpg" alt="INFORMATION TECHNOLOGY">
  </div>
  
  <div class="club">
    <h2>COMPUTER ENGINEERING </h2>
    <p>The Department of Computer Engineering was established in 1983 with the intent to provide quality education to the young aspirants. The department is pioneer in providing education in Computer Engineering among self financed institutes in Maharashtra.
 A team of 52 teaching and 10 technical staff members under the leadership of Dr. Geetanjali V. Kale unanimously harnesses its potential in all aspects to take the department to greater heights. The department had intake of 60 in 1983 and now the current intake for the undergraduate program is 240. The Postgraduate (PG) program in Computer Engineering was started in 2000 with a student intake of 25 and PG in Data Science with an intake of 24 from 2020. 
 Subsequently in 2013, intake is increased to 49 with addition of second division of 24 students. In 2020, the second division of 24 students is converted into PG in Data Science. The department has a Ph.D. research centre, since 2012. All the UG, PG and Ph.D. programs are affiliated to Savitribai Phule Pune University (SPPU).</p>
    <p>Name:Dr.Geetanjali Vinayak Kale
        Email-ID:gvkale@pict.edu 
    </p>
    <img src="cs.jpg" alt="COMPUTER ENGINEERING">
  </div>
  
  <div class="club">
    <h2>ELECTRONICS AND TELECOMMUNICATION</h2>
    <p>Department of Electronics and Telecommunication Engineering is a coactive product with a mission of developing graduates capable of contributing to the advancement of electronics and telecommunication engineering. A team of 40 Teaching and 14 Technical Staff members under the leadership of Dr. Mousami V. Munot unanimously harnesses its potential in all aspects to take the department to greater heights. The Bachelor of Engineering Program in E & TC commenced from the academic year 1995-1996. The current student intake capacity is 240. There are 15 well equipped laboratories in the department.
 The Faculty consists of Head of the Department, Senior Professors, Associate Professors, Assistant Professors and Visiting Faculty. The first batch of M.E. was inducted in 2006 with an intake capacity of 18.</p>
    <p>Name:Dr. Mousami Vaibhav Munot
        Email-ID:mvmunot@pict.edu 
    </p>
    <img src="entc.jpg" alt="ELECTRONICS AND TELECOMMUNICATION">
  </div>

    </body>
    </html>
