<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connecto</title>
  <link rel="icon" type="image/x-icon" href="4.png">
  <link rel="stylesheet" href="css/styless.css">
 </head>
<body>
  
   {{>navbar}}<!-- .navbar -->
   
  <section class="background firstsection">
    <div class="box-main">
    
      <div class="firsthalf">
        <p class="text-big">CONNECTO</p>
        <p class="text-small">Connecting People Together !!!</p>
        
        
        <!-- <div class="ig">
          <img src="6.webp" alt="HI" class="src">
        </div> -->


      </div>
    </div>
  </section>
  
</body>
</html>