<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canteen menu</title>
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>
    
    <div class="main">
        
        <div class="section-title">
            <h2>canteen menu</h2>
            <p>Good food is Good mood </p>
            
        </div>
        
        <div class="menus">
            <div class="menu-column">
                <h4>breakfast</h4>
                <div class="single-menu">
                    <img src="Canteenimg/upama.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Upama <span>₹20</span></h5>
                        <p>1.with sambar ,2.without sambar,3.without onion </p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/idali.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Idali <span>₹30</span></h5>
                        <p>1.sambar idali ,2.sambar-chatani idali,3.medu-vada/idali sambar</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/meduvade.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Medu-vada <span>₹30</span></h5>
                        <p>1.medu-vada sambar ,2.idali-medu-vada sambar ,3.batat-vada/medu-vada sambar</p>
                    </div> 
                </div>
<!-- second menu -->
            </div>
            <div class="menu-column">
                <h4>breakfast</h4>
                <div class="single-menu">
                    <img src="Canteenimg/breadpatties.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Patties <span>₹15</span></h5>
                        <p>Only bread-patties Available</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/dosa.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Dosa <span>₹30</span></h5>
                        <p>1.sada dosa ,2.masala dosa</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/maggi.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Maggie <span>₹20</span></h5>
                        <p>1.simple maggie,2.veg maggie ,3.veg-cheese-maggie</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/poha.jpg" alt="">
                    <div class="menu-content">
                        <h5>Poha <span>₹20</span></h5>
                        <p>1.kanda-poha ,2.sambar-poha  </p>
                    </div> 
                </div>
                <!-- THIRD MENU -->
            </div>
            <div class="menu-column">
                <h4>breakfast</h4>
                <div class="single-menu">
                    <img src="Canteenimg/vadapav.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Vada-pav <span>₹15</span></h5>
                        <p>1.Vada-pav ,2.chatani Vada-pav</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/samosa.jpeg" alt="">
                    <div class="menu-content">
                        <h5>Samosa <span>₹15</span></h5>
                        <p>1.samosa ,2.chatani samosa</p>
                    </div> 
                </div>
                <div class="single-menu">
                    <img src="Canteenimg/sandwich.jpeg" alt="">
                    <div class="menu-content">
                        <h5>sandwich <span>₹35</span></h5>
                        <p>1.veg sandwich ,2.cheese sandwich</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="section-last">
        <h2 >weekly menu</h2>
        <hr>
        <img src="Canteenimg/hostel.jpg" alt="">
    </div>

</body>
</html>