<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecto-Home-Page</title>
    <link rel="stylesheet" href="css/account.css">
    


</head>
<body>

    <nav>
        <div class="nav-left">
            {{!-- <img src="userimages/connecto.png" class="logo"> --}}
            <a href="index.hbs"><img src="userimages/connecto.png" class="logo" alt=""></a>
            
            <ul>
                <li><img src="userimages/notification.png" alt=""></li>
                <li><img src="userimages/inbox.png" alt=""></li>
                <li><img src="userimages/video.png" alt=""></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="userimages/search.png" alt="">
                <input type="text "placeholder="Search">
            </div>
            <div class="nav-user-icon online">
                <a href="profile.html"><img src="userimages/profile-pic.png" alt=""></a>
            </div>

        </div>
        
    </nav>

    <div class="container">
        <!-------------LEFT SIDE BAR--------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="userimages/news.png">Latest News</a>
                <a href="#"><img src="userimages/friends.png">Friends</a>
                <a href="#"><img src="userimages/group.png">Group</a>
              <!--<a href="#"><img src="userimages/marketplace.png">Marketplace</a> -->
              <a href="https://chat-hfcw.onrender.com"><img src="userimages/comments.png">Messenger</a> 
                <a href="#">See More</a>
            </div>
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="/menu"><img src="userimages/shortcut-1.png" >PICT Canteen Menu</a>
                <a href="/club"><img src="userimages/shortcut-2.png" >PICT Clubs</a>
                <a href="/dept"><img src="userimages/shortcut-3.png" >Departments</a>
                <a href="https://pict.edu/pdf/header/Modified%20Academic%20Calendar%20(2022-23%20%E2%80%93%20SEM%20II).pdf"><img src="userimages/shortcut-4.png" >PICT Calender</a>
            </div>
        </div>
        <!-------------MAIN CONTENT--------->
        <div class="main-content">
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="userimages/profile-pic.png" alt="">
                <div>
                    <p>Rohan Lande</p>
                    <small>Public</small>
                </div>
                </div>
                <div class="post-input-container">
                    <textarea  rows="3" placeholder="What's on your mind,Rohan?"></textarea>
                    <div class="add-post-links">
                        <a href="#"><img src="userimages/medal.png" alt="">Achievements</a>
                        <a href="#"><img src="userimages/photo.png" alt="">Photo</a>
                        <a href="#"><img src="userimages/feeling.png" alt="">Feeling</a>
                    </div>
                </div>

            </div>

        </div>
         <!-------------RIGHT SIDE BAR--------->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>15</h3>
                    <span>April</span>
                </div>
                <div class="right-event">
                    <h4>Addiction 2023</h4>
                    <p>📍PICT Campus</p>
                    <a href="">More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>10</h3>
                    <span>April</span>
                </div>
                <div class="right-event">
                    <h4>INC-Impetus,Concepts 2023</h4>
                    <p>📍PICT Campus</p>
                    <a href="https://pictinc.org/">More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>xx</h3>
                    <span>may</span>
                </div>
                <div class="right-event">
                    <h4>PASC,Pulzion 2023</h4>
                    <p>📍PICT Campus</p>
                    <a href="https://pict.acm.org/pulzion/">More Info</a>
                </div>
            </div>
            <div class="sidebar-title">
                <h4>Conversation</h4>
                <a href="#">Hide chat</a>
            </div>
            <div class="online-list">
                <div class="online">
                    <a href="https://chat-hfcw.onrender.com"><img src="userimages/member-5.png"></a> 

                </div>
                 <a href="https://chat-hfcw.onrender.com"><p>Rohan</p></a> 
           
            </div>
            <div class="online-list">
                <div class="online">
                    <a href="https://chat-hfcw.onrender.com"><img src="userimages/member-3.png"></a> 
                </div>
                <a href="https://chat-hfcw.onrender.com"><p>Shruti</p></a> 
            </div>
            <div class="online-list">
                <div class="online">
                    <a href="https://chat-hfcw.onrender.com"><img src="userimages/member-4.png"></a> 
                </div>
                <a href="https://chat-hfcw.onrender.com"><p>Pranjal</p></a> 
            </div>
            <div class="online-list">
                <div class="online">
                    <a href="https://chat-hfcw.onrender.com"><img src="userimages/member-1.png"></a> 
                </div>
                <a href="https://chat-hfcw.onrender.com"><p>Shounak</p></a> 
            </div>
        </div>
    </div>
    
</body>
</html>