<nav class="navbar background">
    <ul class="nav-list">
    <div class="logo">
      <img src="3.png" alt="logo" class="src">
    </div>
    <li><a href="#home">Homee</li>
      <li><a href="/register">SignUp</li>
      <li><a href="/login">Login</li>
   </ul>
  </nav>